<section id="section">
  <header class="l-header">
    <p-toast></p-toast>
    <div class="c-header flex pl-3 pr-3 align-items-center justify-content-between">
      <!-- Logo and name container -->
      <a [href]="basePath" class="flex align-items-center">
        <img class="c-header__logo" src="assets/images/gladio-alado-3d.jpg" alt="gladio alado" />
        <h1 class="c-header__title ml-2">
          <span class="c-header__subtitle ml-1 mr-3">
            {{
              title ? title : 'sem título'
            }}
          </span>
        </h1>
      </a>
      <div class="flex align-items-center">
        <div class="c-header__session-time mr-5 flex align-items-center">
          <i class="pi pi-clock mr-2"></i>
          <p>
            <span>Sessão expira em</span>
            {{ tokenDuration?.humanize() }}
          </p>
        </div>
        <p-button label="NOTIFICAÇÕES" icon="pi pi-bell" styleClass="p-button-outlined mr-5" [disabled]="true">
        </p-button>
        <span class="mr-2">{{ handleUserName() }}</span>
        <p-avatar [label]="handleUserName() ? handleUserName()[0] : '?'" shape="circle" styleClass="mr-4"></p-avatar>
        <p-button icon="pi pi-sign-out" iconPos="right" styleClass="p-button-text p-button-secondary"
          (onClick)="handleLogout()"></p-button>
      </div>
    </div>
    <div class="c-sub-header flex pl-3 pr-3 align-items-center justify-content-between">
      <div>
        <a [href]="basePath">
          <button pButton pRipple  type="button" icon="pi pi-home" class="c-sub-btn"></button>
        </a>
      </div>
      <a href="#" target="_blank" rel="noopener">
        <p-button label="AJUDA" icon="pi pi-question-circle" styleClass="c-sub-header__help-btn"></p-button>
      </a>
    </div>
  </header>
  <div class="l-body">
    <shrd-sidenav [basePath]="basePath"></shrd-sidenav>
    <ng-content></ng-content>
  </div>
</section>
